.NavBarHide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 0.5s linear;
}

.NavBarShow {
        background-color: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        visibility: visible;
        opacity: 1;
        transition: 1.75s;
}

.NavButton {
        margin: 2px 5px;
}
