.aboutPageContainer {
        background-color: #fafafa;
        min-height: 100vh;
        padding-top: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
}

.AboutTitle {
        padding: 0 20px;
}

.AboutParagraph {
        padding: 20px;
        padding-top: 0;
        font-weight: 500;
        text-align: left;
}

.PersonalInfoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        /* border: 2px solid blue; */
}

.PersonalGrouping {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
}

.ImageContainer {
        width: 100%;
        max-height: 300px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        transition: 1s;
}

.Image {
        max-width: 55%;
        max-height: 55%;
        margin: auto;
        border-radius: 3px;
}

.TraitsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        box-sizing: border-box;
        /* border: 2px solid red; */
        transition: 1s;
}

.Traits {
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        margin: auto auto 10px auto;
        background-color: #b2ebf2;
        /* border: 2px solid blue; */
        box-sizing: border-box;
}

.TraitTitle {
        margin-top: 15px;
        color: #424242;
        font-weight: 700;
}

.faSymbol {
        font-size: 3.25rem;
        color: #424242;
        margin: 15px auto;
}

.traitDescription {
        padding: 15px;
}

.ToolsContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
        margin: 0 auto 10px auto;
}

.Tools {
        margin-bottom: 15px;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: row;
}
.barContainer {
        height: 30px;
        width: 70%;
        margin: auto;
        background-color: #80cbc4;
        border-radius: 3px;
}

.insideBar {
        width: 90%;
        height: 30px;
        background-color: #009688;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
}

.insideBarContent {
        color: #e0f2f1;
        line-height: 30px;
        text-align: left;
        margin-left: 10px;
}

.toolIcons {
        width: 15%;
}

.ToolsImage {
        max-height: 40px;
        max-width: 40px;
        margin: auto;
}

.ReactTitle {
        width: 100%;
        margin-top: 15px;
}

/*************************** MEDIA QUERIES ***********************/
@media (min-width: 450px) {
        .Image {
                max-width: 200px;
                max-height: 200px;
        }
}

@media (min-width: 600px) {
        .PersonalInfoContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-content: center;
                text-align: center;
                padding: 15px;
        }

        .ImageContainer {
                margin: auto;
        }

        .TraitsContainer {
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 5px;
        }

        .Traits {
                margin-bottom: 60px;
        }
}

@media (min-width: 760px) {
        .aboutPageTopSection {
                display: flex;
                flex-direction: row;
                max-height: 500px;
        }
        .ImageContainer {
                float: none;
                width: 100%;
                max-height: 250px;
        }
        .TraitsContainer {
                flex-direction: row;
                width: 100%;
        }
        .PersonalInfoContainer {
                width: 50%;
                flex-direction: column;
        }
        .ToolsContainer {
                width: 40%;
        }
}

@media (min-width: 1020px) {
        .ToolsContainer {
                width: 35%;
        }
}
